name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - run: npm install
      - run: npm install cypress --save-dev
      - run: npm run start &
      - run: npx wait-on http://localhost:3000/login
      - run: npm run cypress:run
